body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://farm3.staticflickr.com/2853/32736018454_5c3640c512_k.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    overflow: hidden;
    padding: 5px 20px;
}

.header-left {
    float: left;
    text-align: left;
}

.header-right {
    float: right;
    text-align: right;
    vertical-align: middle;
}

.main {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.column {
    display: inline-block;
    width: 48%;
    overflow: hidden;
    text-align: left;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}

.panel {
    background-color: rgba(210,210,210,0.55);
    border-color: rgba(151,151,151,100); 
    height: 815px;
    overflow: scroll;
    padding: 0px 10px 10px 10px;
}

.widget {
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(151,151,151,100);
    border-radius: 15px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.widget-header {
    background-color: rgba(210,210,210,0.9);
    border-radius: 15px 15px 0px 0px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 0px 0px;
}

.widget-body {
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}

.footer {
    text-align: center;
    padding: 10px;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1.20px;
    margin: 2px;
}

h1.light {
    font-weight: lighter;
    text-transform: uppercase;
}

h1.bold {
    font-weight: bold;
    font-size: 20px;
}

h2 {
    color: white;
    font-weight: lighter;
    font-size: 32px;
    letter-spacing: 0px;
    margin: 0px 0px 2px 0px;
}

h3 {
    color: rgba(130,130,130,1);
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.75px;
    margin: 2px;
    text-transform: uppercase;
}

.big {
    font-weight: normal;
    font-size: 50px;
    color: rgba(49,64,93,1);
    letter-spacing: 0.5px;
    padding: 0px;
    margin: 0px;
}

.big.light {
    font-weight: lighter;
    letter-spacing: 0px;
}

.medium {
    font-weight: normal;
    font-size: 18px;
    color: rgba(49,64,93,1);
    letter-spacing: 0.75px;
    margin: 2px;
}

.medium.light {
    font-weight: lighter;
}

.small {
    font-weight: lighter;
    font-size: 14px;
    color: rgba(49,64,93,1);
    letter-spacing: 0.75px;
    margin: 2px;
}

.small.normal {
    font-weight: 400;
    letter-spacing: 0.3px;
}

.calendar-table {
    border-collapse: collapse;
    margin: 5px 0px 5px 0px;
}

.calendar-table tr {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(171,184,194,50); 
    font-weight: lighter;
    font-size: 16px;
    font-color: rgba(49,64,93,1);
    letter-spacing: 0.75px;
}

.calendar-table td {
    padding: 2px 10px 2px 10px;
}
